* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

[data-theme='light'] {
  --background-color: rgb(244, 246, 250);
  --heading: rgb(49, 62, 81);
  --subheading: rgb(98, 108, 27);
  --button-background: rgb(255, 255, 255);
}

[data-theme='dark'] {
  --background-color: rgb(59, 77, 102);
  --heading: rgb(255, 255, 255);
  --subheading-color: rgb(171, 193, 225);
  --button-background: rgb(98, 108, 127);
}

body {
  background-color: var(--background-color);
  color: var(--heading);
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
}

.container {
  padding: 3rem;
}

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

/* .menu-wrapper {
} */

.menu-list {
  list-style-type: none;
  display: flex;
}

.menu-list a {
  text-decoration: none;
}

.menu-list a:link {
  color: rgb(167, 41, 245);
}

.menu-list a:visited {
  color: rgb(59, 77, 102);
}

.menu-list a:hover {
  color: rgb(38, 215, 130);
}

.menu-list a:active {
  color: rgb(98, 108, 127);
}

.menu-link {
  font-size: 3rem;
  margin-right: 1rem;
}

/* Light and Dark mode toggle switch */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2.4rem;
  margin: 1rem;
}

.toggle-switch .toggle-input {
  display: none;
}

.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.8rem;
  height: 2.8rem;
  background-color: rgb(167, 41, 245);
  border-radius: 3.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch .toggle-label::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 0.4rem;
  left: 0.4rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(20px);
}

/* End of light and dark mode toggle switch */

/* Home page specific styles */

/* .main {
  background-color: red;
  display: flex;
} */

.content-box {
  display: flex;
}

.heading-box {
  flex-basis: 50%;
}

.buttons-box {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.button {
  background-color: #fff;
  margin: 1rem;
  padding-right: 5rem;
  padding-left: 1rem;
  border-radius: 24px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(49, 62, 81);
  max-width: 564px;
  height: 6rem;
  font-size: 2.8rem;
}

.button:hover {
  cursor: pointer;
}

.icon {
  height: 56px;
  margin-right: 3rem;
}

/* End of Home page specific styles */

/* Quiz specific styles */
.quizBox {
  display: flex;
  width: 100%;
}

.questionBox {
  flex-basis: 50%;
}

.questionHeading {
  font-size: 2rem;
  color: rgb(98, 108, 127);
  font-weight: 400;
}

.questionSubheading {
  font-size: 3.6rem;
}

.answersBox {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.questionButton {
  background-color: var(--button-background);
  color: var(--heading);
  border-radius: 15px;
  border: none;
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 28px;
  height: 76px;
  width: 564px;
  text-align: left;
  font-family: 'Rubik', sans-serif;
}

.questionNumberSpan {
  text-transform: capitalize;
  margin: 0 2rem;
  color: rgb(98, 108, 127);
  background-color: rgb(244, 246, 250);
  padding: 0.4rem 0.6rem;
  box-sizing: content-box;
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 4px;
}

.nextQuestion {
  background-color: rgb(167, 41, 245);
  border: none;
  color: rgb(244, 246, 250);
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  margin: 0.5rem 0;
  padding: 1rem 0;
  height: 76px;
  width: 564px;
  border-radius: 15px;
}
/* End of quiz specific styles */

.heading {
  font-size: 64px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  text-align: center;
  margin: 2rem auto;
}

th {
  padding: 0.5rem;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

td {
  padding: 0.5rem;
  font-size: 20px;
}

td li {
  font-size: 20px;
}

ul {
  list-style-position: inside;
}

.button-addition {
  background-color: rgb(167, 41, 245);
  color: rgb(255, 255, 255);
}

.red-answer {
  color: red;
}

.green-answer {
  color: green;
}

.orange-answer {
  color: orange;
}

/* Code relating to image/file selection */

.imageDiv {
  width: 100%;
  min-height: 800px;
  background-color: azure;
}

.imageThumbnail {
  height: 200px;
}

.updateImageButton {
  border: none;
  background-color: rgb(167, 41, 245);
  color: rgb(255, 255, 255);
  font-family: 'Rubik', sans-serif;
  height: 4rem;
  padding: 1rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
}

/* modal section */
dialog {
  margin: 4rem auto;
  padding: 0;
  border-radius: 1rem;
  max-height: 90vh;
  border: none;
  border: solid 4px rgb(244, 246, 250);
  min-height: 20vh;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
}

dialog::-webkit-scrollbar {
  background-color: rgb(244, 246, 250);
  height: 4rem;
  width: 1rem;
}

dialog::-webkit-scrollbar-thumb {
  background: rgba(49, 62, 81, 0.8);
  border-radius: 1rem;
}

.modalContainer {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  /* border: none; */
  width: 90vw;
  /* background-color: hsl(216, 47%, 90%); */
  margin: 0;
  padding: 2rem 3rem;

  background-color: rgb(244, 246, 250);
  background-image: radial-gradient(
      circle at top left,
      transparent 45rem,
      rgba(235, 240, 255, 0.6) 45rem,
      rgba(235, 240, 255, 0.6) 62rem,
      transparent 62rem
    ),
    radial-gradient(
      circle at bottom right,
      transparent 45rem,
      rgba(235, 240, 255, 0.6) 45rem,
      rgba(235, 240, 255, 0.6) 62rem,
      transparent 62rem
    );
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  /* height: 100%; */
  background-size: 80rem 80rem;
  /* overflow: hidden; */
}

.topContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3.5rem 3rem;
  position: relative;
}

.topHeading {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  color: rgb(59, 77, 102);
  margin: 3rem 0 4rem;
}

.close-btn {
  cursor: pointer;
  position: relative;
  width: 3.3rem;
  height: 3.3rem;
  border: 0.3rem solid rgb(238, 84, 84);
  background-color: rgb(238, 84, 84);
  border-radius: 50%;
  box-sizing: content-box;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0px 8px rgb(238, 84, 84);
}

.close-btn::before,
.close-btn::after {
  position: absolute;
  height: 0.3rem;
  width: 1.9rem;
  top: 1.5rem;
  left: 0.7rem;
  content: '';
  background-color: rgb(255, 255, 255);
}

.close-btn::before {
  transform: rotate(-45deg);
}

.close-btn::after {
  transform: rotate(45deg);
}

.close-btn:hover,
.close-btn:focus {
  transform: rotate(90deg) scale(1.2);
  box-shadow: 0 0 20px rgb(238, 84, 84);
}

.close-btn:active {
  transform: rotate(45deg) scale(1.1);
  box-shadow: 0 0 10px rgb(238, 84, 84);
}

.close-btn:active::before,
.close-btn:active::after {
  background-color: rgb(255, 255, 255);
}

.imageGallery {
  line-height: 0;
  column-count: 4;
  column-gap: 1rem;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0.5rem 1rem;
}

/* Images within the Gallery */

.image {
  /* width: auto;
  height: auto; */
  margin: 0.4rem 0;
  padding: 1rem;
  background-color: rgba(244, 246, 250, 0.4);
  border: 0.6rem solid rgba(171, 193, 225, 0.6);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.galleryImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* object-fit: contain; */
}

.image:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(244, 246, 250, 1);
  box-shadow: rgba(0, 0, 0, 0.45) 0 15px 20px;
  backface-visibility: visible;
}

.image:active {
  background-color: rgba(244, 246, 250, 0.9);
  transform: scale(1.05, 1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

.imageSelected {
  position: relative;
  background: linear-gradient(rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
}

.imageSelected::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(171, 193, 225, 0.4);
}

.imageSelected::after {
  content: '\2713';
  font-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(38, 215, 130);
  border: 0.4rem solid rgb(38, 215, 130);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.bottomContainer {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: relative; */
}

.imageGalleryButtonsContainer {
  height: 14rem;
  /* max-width: 55rem; */
  max-width: 85vw;
  width: 64rem;
  margin: 3rem 2rem;
  background-color: rgb(244, 246, 250);
  display: flex;
  justify-content: center;
  padding: 2rem 4rem;
  align-items: center;
  border-radius: 2rem;
  border: 1px groove rgba(49, 62, 81, 0.5);
  box-shadow: 0 0 10px rgba(49, 62, 81, 0.5);
}

.fileUpload {
  position: relative;
  color: rgb(49, 62, 81);
  font-size: 1.5rem;
  min-width: 80%;
}

.fileUpload::file-selector-button {
  border: none;
  background-color: rgb(255, 255, 255);
  /* color: rgb(255, 255, 255); */
  transition: all 0.3s ease-in-out;
  border-radius: 0.4rem;
  height: 6rem;
  padding: 2rem 12rem;
  cursor: pointer;
  color: transparent;
  margin-right: 1.5rem;
  border: 1px groove rgba(49, 62, 81, 0.5);
}

.fileUpload::before {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 2.4rem;
  height: 2.4rem;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23313E51'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

.fileUpload::after {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 18%;
  transform: translate(0, -50%);
  color: rgb(49, 62, 81);
  content: 'Upload your own image';
  font-size: 1.8rem;
}

.imageSubmit {
  border: none;
  background-color: rgb(49, 62, 81);
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
}

.submitButton {
  margin: 0 2rem;
  padding: 2rem 5rem;
  font-size: 1.8rem;
  height: 6rem;
  text-align: center;
  border: none;
  background-color: hsl(216, 25%, 25%);
  border-radius: 0.4rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  border: 1px transparent;
  /* transition: all 3s; */
  animation: glowing 1300ms infinite;
}

.submitButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.45) 0 15px 20px;
}

.submitButton:active {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

.hidden {
  display: none;
}

@keyframes glowing {
  0% {
    background-color: hsl(216, 40%, 40%);
    box-shadow: 0 0 3px hsl(216, 50%, 50%);
  }

  50% {
    background-color: hsl(216, 50%, 50%);
    box-shadow: 0 0 15px hsl(216, 50%, 50%);
  }

  100% {
    background-color: hsl(216, 40%, 40%);
    box-shadow: 0 0 3px hsl(216, 50%, 50%);
  }
}

@media screen and (max-width: 768px) {
  .imageGallery {
    column-count: 3;
  }

  .bottomContainer {
    flex-direction: column;
  }
}

/* end of modal section */

/* .hidden {
  display: none;
} */

/* End of Code relating to image/file selection */
